html body {
  /* setting universal font size */
  font-size: 1rem;
  background: linear-gradient(145deg, rgba(186,190,195,1) 0%, rgba(71,75,85,1) 27%);
  
  color: #393e4a;
}

/* font-family: 'PT Serif', serif;
font-family: 'Signika', sans-serif;
font-family: 'Alegreya', serif; */

#main {
  background: #babec6;
  padding: 0px 50px;
  border: 15px;
  border-style: solid;
  border-color: white;
  margin: 100px;
  font-family: 'Alegreya', serif;
  font-size: 1.15rem;
}

#header {
  padding: 70px;
  text-align: center;
  font-size: 2rem;
  font-family: 'PT Serif', serif;

}

#header-img {
  width: 500px;
  /* background: radial-gradient(circle, rgba(219,135,79,1) 0%, rgba(186,190,198,0) 70%); */
  /* background: #db874f; */
}

.nav-wrap {
  position: sticky;
  top: 0px;
  }


#nav-bar {
  display:flex;
  justify-content: space-between;
  align-items: center;
  
  padding-left: 0px;
  padding-right: 0px;
  background: #babec6;
}

#nav-img {
  width: 100px;
 
}

#nav-h1 {
  font-size: 3.5rem;
  font-family: 'Signika', sans-serif;
  letter-spacing: .5rem;
}

#nav-h2 {
  font-size: 2rem;
  font-family: 'Signika', sans-serif;
  font-style: italic;
}


.nav-links a {
padding: 10px;
color: #393e4a;
}

.nav-data {
list-style: none;
display: flex;

}

#nav-bar a:hover {
transition: .5s;
  /* background: #fcbe92; */
  background: #393e4a;
  color: #babec6;
  border-radius: 30px;

}

#main-flex {
  display: flex;
  

}

#info-flex {
 
  order: 1;
  
 
}

#gallery-flex {

  
  order: 2;
  background: black;
  width: 400px;
}

.gallery-img {
  width: 400px;
}

#pricing {
  display: flex;
  flex-direction: column;
}

.price-flex {
  width: 200px;
}