html body {
  /* setting universal font size */
  font-size: 1rem;
  /* color: white;
  background: black; */
}

#header {
  padding: 70px;
  text-align: center;
  background: black;
  color: white;
  font-size: 2rem;
}

#nav-bar {
  display: flex;
  background: black;
  color: white;
  position: fixed;
  top: 0;
}

#nav-bar a {
  padding: 20px 30px;
  text-align: center;
  font-size: 2rem;
}

#nav-bar a:hover {
  background-color: red;
  color:black;
}

.howicon {
  height: 150px;
  width: 150px;
}